body{
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}
.main-homepage {
  background: url("../img/index-bg.jpg") no-repeat;
  background-position: top 56px;
  padding-top: 550px;
}
a {
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
b {
  float: left;
}
header{
  clear: both;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container{
  	margin: 0 auto;
    min-width: 768px;
  	max-width: 1200px;
}
.main-nav{

}
.main-nav li{
  box-sizing: border-box;
  text-align: center;
  margin-left: 30px;
  margin-right: 120px;
  padding-bottom: 12px;
  padding-top:  6px;
  font-size: 14px;
}
.main-nav li:nth-child(3) {
  margin-left: 234px;
}
li {
  float: left;
}
.logo{
position: absolute;
width: 128px;
height: 71px;
top: 0;
left: 50%;
margin-left: -69px;
}

h1{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
h2{
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
}
.caption-top{
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 46px;
}
.top-block{
  text-align: center;
  box-sizing:border-box;
  max-width:1200px;
  min-width:768px;
  background-color: #81b3d2;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 66%;
  background-image: url("../img/content-block.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size:66% auto;
}
.icon{
  clear: both;
}
.icon-1{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.icon-2{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.icon-3{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.bot-block{
  text-align: center;
  box-sizing:border-box;
  max-width:1200px;
  min-width:768px;
  height: 250px;
  background-color: #81b3d2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 66%;
  margin-top: 330px;
  background-image: url("../img/content-block2.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 66% auto;
}
.block{
  box-sizing:border-box;
  float: left;
  width: 33%;
  min-height: 256px;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 50px;
  margin-bottom: 54px;
}
.bot-caption{
  width: auto;
  text-align: center;
  margin-bottom: 52px;
}
.hotel-search{
    width: 100%;
    min-height: 650px;
    background-image: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
fieldset {
    box-sizing: border-box;
    border: 0;
    background-color: white;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 78px;
    max-width: 570px;
    margin-left: 50%;
    margin-right: 285px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
legend{


  }
.form-head {
  text-align: center;
  font-family: 'PT Sans' sans-serif;
  font-size: 21px;
  color: white;
  background-color: #766357;
  box-sizing: border-box;
  text-align: center;
  float: left;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  top: -96px;
}
.onclick{
  display: none;
}
.form-head:focus ~ .onclick,
.form-head:active ~ .onclick,
.onclick:hover
{
   display: block;
}
.label {
  font-family: 'PT Sans' sans-serif;
  font-size: 14px;
  margin-left: 55px;
  font-weight: bold;
}
.date {
  border: 0;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 29px;
  padding-left: 15px;
  padding-right: 190px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-number {
  border: 0;
  background-color: #f2f2f2;
  text-align: center;
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 26px;
  margin-right: -6px;
}
.label-number {
  font-family: 'PT Sans' sans-serif;
  font-size: 14px;
  margin-left: 55px;
  font-weight: bold;
  margin-right: 6px;
}
.form-button {
  margin-top: 54px;
  margin-bottom: 54px;
  border: 0;
  background-color: #81b3d2;
  font-family: 'PT Sans' sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 194px;
  padding-right: 194px;
}









ul li {margin: 0; padding: 0; list-style-type: none;}
.footer-sections li{
  display: inline-block;
}
.filter {
color: #ffffff;
margin-bottom: 72px;
}
.form-bg{
  background: url("../img/hotels-bg.jpg") no-repeat;
  margin-top: 5px;
  padding-bottom: 32px;
}
.filter-sort {
  box-sizing: border-box;
  max-width: 160px;
  float: left;
  margin-left: 70px;
  margin-right: 35px;
  margin-top: 10px;
}
.filter-sort label{
  display: list-item;
  list-style: none;
  margin-right: 35px;
}
.filter-range {
  width: 30%;
  float: right;
  margin-right: 72px;
  margin-top: 30px;
}
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.second-sort{
  font-size: 12px;

}
.second-sort .sort-up{
  margin-left: 492px;}
.found {
  font-size: 21px;
  font-weight: bold;
  float: left;
  margin-right: 48px;
  margin-left: 32px;
}
.sort {
  float: left;
  display: inline-block;
}
.sort li {

  margin-left: 32px;
}
.sort a {
  font-size: 12px;
  color: #c6c6c6;
  font-weight: normal;
  border-bottom: dotted;
  border-color: #81b3d2;
}
.sort a:active{
  color: #81b3d2;
}
.sort-up {
  float: right;
}
.sort-down {
  float: right;
}
article {
  width: 100%;
  padding-top: 31px;
  padding-bottom: 31px;
  float: left;
  margin-left: 72px;
  display:inline-block;
}

.hotel-img {
  float: left;
}
.hotel-name {
  float: left;
  margin-left: 30px;
  margin-right: 550px;
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: bold;

}
.caption-type .caption-cost{
}
.more {
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: #81b3d2;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 6px;
  margin-left: 30px;
}
.book {
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: #766357;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.rate {
  float: right;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
  color: #828282;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 144px;
}
.stars {
  margin: 0;
  padding: 0;
  font-size: 0;
  float: right;
  margin-right: 144px;
}
	.stars:hover .star {
	  color: #81b3d2;
	}
	.stars .star {
	  margin: 0;
	  padding: .2em;
	  display: inline-block;
	  font-size: 21px;
	  cursor: pointer;
	  color: #dddddd;

	}
		.stars .star:before {
		  content: '\2605';
		}
	.stars .star:hover ~ .star {
	  color: #dddddd;
	}

.main-footer {
  position: absolute;
  top: 1000px;
  width: 100%;
  min-height: 120px;
  background-color: white;
  opacity: 0.9;
  vertical-align: middle;
  margin-left: 132px;
}
.main-footer li {
  float: left;
}
.hashtag{
  font-size: 21px;
}
.social{
  margin-left: 256px;
}
.academy{
  margin-left: 228px;
}
.social a {
  width: 46px;
  min-height: 48px;
  box-sizing: border-box;
  background-color: #81b3d2;
  margin-left: 6px;
}
