body{
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 14px;
  background: url("../img/index-bg.jpg") no-repeat;
  background-position: center 56px;
  text-transform: uppercase;
}
header{
  clear: both;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container{
  	margin: 0 auto;
    min-width: 768px;
  	max-width: 1200px;
}
.main-nav{
  margin-bottom: 560px;
}
.main-nav li:nth-child(1) {
  float: left;
}
.main-nav li:nth-child(2) {
  float: left;
}
.main-nav li:nth-child(3) {
  float: right;
}
.main-nav li:nth-child(4) {
  float: right;
}
.main-nav li{
  margin-left: 60px;
}
.logo{
position: absolute;
width: 128px;
height: 69px;
top: 0;
left: 50%;
margin-left: -69px;
}
h1{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
h2{
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
}
.caption-top{
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 46px;
}
.top-block{
  text-align: center;
  box-sizing:border-box;
  max-width:1200px;
  min-width:768px;
  background-color: #81b3d2;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 66%;
  background-image: url("../img/content-block.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size:66% auto;
}
.icon{
  clear: both;
}
.icon-1{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.icon-2{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.icon-3{
  float: left;
  margin-top: 60px;
  margin-bottom: 84px;
  width: 33%;
  text-align: center;
}
.bot-block{
  text-align: center;
  box-sizing:border-box;
  max-width:1200px;
  min-width:768px;
  height: 250px;
  background-color: #81b3d2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 66%;
  margin-top: 330px;
  background-image: url("../img/content-block2.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 66% auto;
}
.block{
  box-sizing:border-box;
  float: left;
  width: 33%;
  min-height: 256px;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 50px;
  margin-bottom: 54px;

}
.bot-caption{
  width: auto;
  text-align: center;
  margin-bottom: 52px;
}
.form-head{
  text-align: center;
}
.hotel-search{
  box-sizing: border-box;
  width: auto;
  text-align: center;
  margin-bottom: 48px;
  margin-bottom: 78px;
}
.map{
  background-image: url("../img/map.jpg");
}
.social li{
  display: inline-block;
}
ul li {margin: 0; padding: 0; list-style-type: none;}
.footer-sections li{
  display: inline-block;
  
}
